*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: gold;
    cursor: pointer;
}

/*--- header--*/
header{
    /*background-color: black;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /*flex*/
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
}
header nav li{
    margin: 10px;
}

/*responsive*/
@media(max-width: 1000px){
    header{
        padding: 20px 50px;
    }
}
@media(max-width: 700px){
    header{
        flex-direction: column;
    }
    header nav li a{
        font-size: 25px;
    }
}

/*banner*/
.banner{
    position: relative;
    justify-content: center;
    text-align: center;
    color: white;
    min-height: 80vh;
}

.banner .banner-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../IMG/fondo\ estadio.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.banner .banner-img::after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: .5;
    content: '';
}